@font-face {
    font-family: fontMedium;
    src: url(Montserrat-Medium.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    
    background: url(../images/bg-bottom.svg) 10px 400px/300px 300px no-repeat, url(../images/bg-top.svg)  no-repeat right;
    background-color: hsl(240, 78%, 98%);
    font-weight: 700;
    font-family: fontMedium;
}

h2{
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    color: hsl(233, 13%, 49%);
    
}
.cont_check{
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
}
.cont_check .aa{
    margin: 10px;
    color: hsl(234, 14%, 74%);
}
.cont_card{
    padding: 10px;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.card{
    height: 340px;
    width: 275px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(136, 134, 134, 0.432);
    color:hsla(232, 13%, 33%, 0.856);
    background: white;
    font-weight: bold;
}
.card *{
    border-bottom: 1px solid rgba(141, 136, 136, 0.479);
    font-size: 15px;
    padding: 10px;
    margin: 0 20px 0 20px;
}

.type{
    border: none;
    padding-top: 22px;
    font-size: 18px;
}

.price{
    font-size: 50px;
    padding: 0 0 17px 0;
    color: hsl(232, 13%, 33%);
    font-weight: 700;
}
.card2 .type{
    padding-top: 40px;
}
.btn{
    cursor: pointer;
    margin-top: 20px;
    width: 80%;
    border-radius: 5px;
    font-size: 10.5px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%) );
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
}
button.btn:hover{
    background: transparent;
    color: hsl(236, 69%, 65%);
    border: 1px solid  hsl(236, 72%, 79%);
}
button.btn2:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
} 
.card2{
    height: 375px;
    width: 270px;
    background:  linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%) );
    color: white;
}
.card2 .price{
    color: white;
}
.card2 .btn{
    background: white;
    color:  hsl(237, 63%, 64%);
    margin-top: 30px;
}


/* 



*/

/* toggle switch */
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%) );;
    -webkit-transition: 0.4s;
    transition: 0.1s;
}
.slider::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: 4px;
    bottom: 3px;
    background-color: aliceblue;
    -webkit-transition: 0.4s;
    transition: 0.3s;
}   

input:focus + .slider{
    box-shadow: 0 0 2px rgb(58, 54, 54);
}
input:checked + .slider::before{
    transform: translateX(16px);
}
.slider{
    border-radius: 34px;
}
.slider::before{
    border-radius: 34px
}
.slider:hover, .switch:hover .slider{
    background: hsl(234, 14%, 74%);
}
.switch:hover{
    cursor: pointer;
}

/*Mobile Desing*/
@media only screen and ( max-width: 600px ) {
    .cont_card{
        display: flex;
        flex-direction: column;
    }
    .card, .card2{
        width: 300px;
        height: 350px;
    }
    .card{
        margin-bottom: 25px;
    }
    .card2 .btn{
        margin-top: 25px;
    }
    .card2 .type{
        padding-top: 25px;
    }
}